.title {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 80px;
    background-color: #f2e7df;
    margin-bottom: 50px;
    font-size: 44px;
    color: #808080;
    font-weight: 700;
    text-align: center;
}